.chart {
  display: inline-grid;
  border: solid 1px;
  border-color: #331832;
  /* width: 90vw; */
  /* max-width: 1170px; */
  margin: 5rem auto;
  grid-template-columns: repeat(7, 1fr);
}

/* option for changing the grid layout with larger screen */

/* @media screen and (min-width: 900px) {
  .chart {
    grid-template-columns: repeat(7, 1fr);
  }
} */

/* Chart section */
.single-day {
  border: solid 1px;
  width: 110px;
  border-color: #331832;
  color: #331832;
  text-align: center;
}

.selected {
  background-color: #e2e4d4;
}

.cycle-day,
.color,
.observation {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: solid 1px;
}

.observation-elem {
  display: inline;
}

.quantity {
  display: inline-block;
  padding-left: 10px;
}

.color {
  height: 2em;
  background-color: none;
}
