.new-observation {
  background-color: #c6d8d3;
  padding: 1rem;
  margin: 1rem auto;
  width: 45rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.new-observation button {
  all: unset;
  align-self: flex-end;
  cursor: pointer;
  padding: 0.5rem 2rem;
  background-color: #331832;
  color: white;
  border-radius: 12px;

  /* margin-right: 1rem; */
}

.new-observation button:hover,
.new-observation button:active {
  background-color: #7d7883;
  border-color: #7d7883;
}

.new-observation .modify-btn {
  background-color: rebeccapurple;
}
