.main {
  display: flex;
  flex-direction: column;
}

.back-btn {
  align-self: center;
  margin-top: 2rem;
}

.back-btn button {
  all: unset;
  align-self: flex-end;
  cursor: pointer;
  padding: 0.5rem 2rem;
  background-color: #331832;
  color: white;
  border-radius: 12px;
}

.back-btn button:hover {
  background-color: #7d7883;
  border-color: #7d7883;
}
